* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 120px;
    width: 120px;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover {
    color: orange;
}

.detail {
    width: 50%;
    margin-left: 5%;
}

.detail h1 {
    font-size: clamp(28px, 5vw, 50px);
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: orange;
}

.detail p {
    color: #555;
    line-height: 22px;
    font-size: 1rem;
}

.detail a {
    background: #212121;
    padding: 10px 18px;
    display: inline-block;
    margin: 30px 0;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.images {
    width: 45%;
    position: absolute;
    bottom: 0;
    right: 5%;
}

.images img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 40px;
}

.images:hover .boy {
    left: 45%;
}
